*{
  font-weight: normal;
  font-stretch: normal;
}
.login{
  background: url('../../assets/image/login.png') no-repeat;
  position: relative;
  .one,.three,.four{
    width: 100%;
    height: 8px;
    background-color: #0065b0;
    color: #ffffff;
    text-align: center;
    opacity: 0.21;

  }
  .one{
    position: absolute;
    top: 284px;
  }
  .two{
    width: 100%;
    height: 214px;
    margin: 20px 0;
    background-color: #0065b0;
    position: absolute;
    top: 284px;
    padding: 50px 0;
    .logo{
      position: relative;
      left: 374px;
    }
    .biaoqian{
      position: relative;
      left:398px;
      top: -30px;
      font-family: MicrosoftYaHei-Bold;
      color: #ffffff;
      .guanli{
        font-size: 26px;
      }
      .system{
        font-size: 40px;
      }
    }
    .title{
      display: inline-block;
    }
  }
  .three{
    position: absolute;
    top: 535px;
  }
  .four{
    position: absolute;
    bottom: 50px;
    height: 40px;
    line-height: 40px;
    opacity: 0.4;
  }
  .el-row{
    width: 430px;
    background-color: #ffffff;
    box-shadow: 0px 32px 62px 0px
    #013260;
    border-radius: 6px;
    position: relative;
    top: 180px;
    left: 1100px;
    padding: 30px 50px;
    z-index: 1000;

  }
}
.login-container {
  .el-button--primary{
    background-color: #0865bc;
    margin-top: 10px;
  }
  .el-input input{
    caret-color: #606266;
  }
  .password{
    color: #999999;
    font-size: 14px;
    cursor: pointer;
    .el-checkbox__label{
      color: #999999;
      font-size: 14px;
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
  }
  .title{
    color: #0065b0;
    font-size: 24px;
    text-align: center;
    font-family: MicrosoftYaHei-Bold;
  }
  .yanzheng{
    width: 64%;
    display: inline-block;
  }
  .el-form-item{
    height: 42px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    border-radius: 5px;
    color: #454545;
  }
  .vertify-image {
    position: relative;
    top: 8px;
    margin-left: 10px;
    border: 1px solid #B0B0B0;
    transform: scale(1.1,1.4);
  }
}
